*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'montserrat';
    color: rgb(248, 69, 9);
}

html,body{
    height: 100%;
    width: 100%;
}

.nav{
    height: 135px;
    width: 100%;
    background-color: rgb(245, 238, 238);
    display: flex;
    align-items: center;
    padding: 0 150px;
    gap: 50px;
    justify-content: flex-start;
}
.nav img{
    height: 75px;
}

.nav h4{
    text-transform: uppercase;
}